@mixin form-wrapper {
  display: flex;
  justify-content: space-between;
}

@mixin input-styles {
  background-color: white;
  padding-left: 1rem;
  height: 3rem;
  border-radius: 0.4rem;
}

@mixin label-styles {
  padding-top: 0.8rem;
  font-size: 0.8rem;
  text-align: left;
  font-family: "Sans Pro";
  color:rgba(0, 0, 0, 0.8);
  letter-spacing: 0;
}

@mixin select-option-styles {
  text-align: center;
  font-family: monospace;
}

.formWrapper {
  @include form-wrapper;
}

input {
  border: 1px solid #676767;
}

#ccv,
#validThru {
  width: 11rem;
}

.form--inputs {
  display: flex;
  flex-direction: column;
  margin: 0;
}

form {
  margin: 3rem 0;
}

.form--label {
  @include label-styles;
}

form input,
form select {
  @include input-styles;
}

select option {
  @include select-option-styles;
}

// .exitBtn {
//   // funkar?
//   cursor: "pointer";
//   position: "absolute";
//   top: 0;
//   right: 20%;
// }
