@mixin form-wrapper {
  display: flex;
  justify-content: space-between;
}

@mixin input-styles {
  padding-left: 1rem;
  height: 3rem;
  border-radius: 0.4rem;
}

@mixin label-styles {
  color: black;
  font-size: 0.8rem;
  text-align: left;
  font-family: "Sans Pro";
  color: #22222299;
  letter-spacing: 0;
}

@mixin select-option-styles {
  text-align: center;
  font-family: monospace;
  font-size: 1.5rem;
}

.formWrapper {
  @include form-wrapper;
}

#ccv,
#validThru {
  width: 11rem;
}

.form--inputs {
  display: flex;
  flex-direction: column;
  margin: 0;
}

form {
  margin-top: 3rem;
}

.form--label {
  @include label-styles;
}

form input,
form select {
  @include input-styles;
}

select option {
  @include select-option-styles;
}

.exitBtn {
  transform-origin: center;
  color: rgb(106, 106, 106);
  transition: all 0.3s ease-in-out;
}
.exitBtn:hover {
  color: rgb(27, 27, 27);
  transform: rotate(360deg);
}
