@font-face {
  font-family: 'PTMono-Regular';
  src: url('../../assets/fonts/PTMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  font-family: 'PTMono-Regular', sans-serif;
  color: black;
  width: 23.875rem;
  height: 15.063rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
}

.wrapperLogo {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem;
  padding-bottom: 0;
}

.imgChip {
  margin-left: 1rem;
}

.cardNumber {
  display: flex;
  justify-content: center;
  font-size: 32px;
  letter-spacing: 3%;
}

.cardName p {
  font-size: 12px;
}

.cardholderName {
  font-size: 18px;
}

.cardDate {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.expiryDate {
  font-size: 18px;
}



.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem;
  margin-top: 1rem;
}

.wrapperName {
  display: flex;
  flex-direction: column;
}

.wrapperDate {
  display: flex;
}

