:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d2d2d2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Sans Pro";
  src: url("../src/assets/fonts/SourceCodePro-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d2d2d2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  margin: 0.5rem 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  color: black;
  margin: 1rem 0;
  text-align: center;
}

main > p {
  text-align: center;
  margin-bottom: 0.4rem;
  font-family: "Sans Pro";
  color: #22222299;
}

.cards {
  margin: 1rem 0;
  position: relative;
  width: 100%;
  cursor: pointer;
  min-height: 21rem;
  margin-top: 2.5rem;
}

.cards > .card {
  position: absolute;
}

button {
  cursor: pointer;
  border-radius: 8px;
}

.add-card__exit-btn,
.card__delete-btn {
  transform-origin: center;
  color: rgb(106, 106, 106);
  transition: all 0.3s ease-in-out;
}
.add-card__exit-btn:hover,
.card__delete-btn:hover {
  color: rgb(27, 27, 27);
  transform: rotate(360deg);
}

main > .newCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  text-align: center;
  width: 100%;
}

.newCard {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 1.3rem 0;
  justify-content: end;
  margin-top: 1.5rem;
}
