@font-face {
  font-family: "Sans Pro";
  src: url("../src/assets/fonts/SourceCodePro-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 55rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  color: black;
  margin: 0.4rem 0;
  text-align: center;
}

main > p {
  text-align: center;
  margin-bottom: 0.4rem;
  font-family: "Sans Pro";
  color: #22222299;
}

.cards {
  margin: 1rem 0;
  position: relative;
}

.cards > .card {
  position: absolute;
}


.exitBtn {
  transform-origin: center;
  color: rgb(106, 106, 106);
  transition: all 0.3s ease-in-out;
}
.exitBtn:hover {
  color: rgb(27, 27, 27);
  transform: rotate(360deg);
}

main > .newCardContainer  {
 display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; 
  text-align: center;
  width: 100%; 
}

.newCard {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 1.5rem 0;
  justify-content: end;
}